@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --water-type-hover: #74ACF5;
    --water-type: #2980EF;
    --steel-type-hover: #98C2D1;
    --steel-type: #60A1B8;
    --rock-type-hover: #CBC7AD;
    --rock-type: #B0AA82;
    --psychic-type-hover: #F584A8;
    --psychic-type: #EF4179;
    --poison-type-hover: #B884DD;
    --poison-type: #9141CB;
    --normal-type-hover: #C1C2C1;
    --normal-type: #9FA19F;
    --ice-type-hover: #81DFF7;
    --ice-type: #3FD8FF;
    --ground-type-hover: #B88E6F;
    --ground-type: #915121;
    --grass-type-hover: #82C274;
    --grass-type: #3FA129;
    --ghost-type-hover: #A284A2;
    --ghost-type: #704170;
    --flying-type-hover: #ADD2F5;
    --flying-type: #81B9EF;
    --fire-type-hover: #FFAC59;
    --fire-type: #FF8000;
    --fighting-type-hover: #EF7374;
    --fighting-type: #E62829;
    --fairy-type-hover: #F5A2F5;
    --fairy-type: #EF70EF;
    --electric-type-hover: #FCD659;
    --electric-type: #FAC000;
    --dragon-type-hover: #8D98EC;
    --dragon-type: #5060E1;
    --dark-type-hover: #998B8C;
    --dark-type: #4F3F3D;
    --bug-type-hover: #B8C26A;
    --bug-type: #91A119;
    --default: #FFFFFF;
    --border-solid: #C9CCC9;
    --unnamed-color-444444: #444444;
    --box-shadow: #00000029;
    --header: #F5C632;
    --favorites: #FC4242;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", serif;
}



/*Header*/

.l-navbar {
    background-color: var(--header);
    box-shadow: 0px 0px 10px var(--box-shadow);
}

.c-navbar {
    height: 60px;
    align-items: center;
}

.form-select {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    border-radius: 0rem 0.3125rem 0.3125rem 0rem !important;
}


.l-input__search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-input__search input {
    width: 100%;
    height: 1.875rem;
    border: 0.0625rem solid var(--border-solid);
    border-radius: 0rem 0.3125rem 0.3125rem 0rem;
    padding-left: 0.625rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
}

.l-input__search p {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    border: 0.0625rem solid var(--border-solid);
    padding: 0.375rem;
    border-radius: 0.3125rem 0rem 0rem 0.3125rem;
}

.l-fav__heart {
    display: flex;
    justify-content: space-evenly;
    gap: 0.3125rem;
    align-items: center;
    border: 0.0625rem solid var(--border-solid);
    border-radius: 1.25rem;
    width: 5.3125rem;
    height: 1.875rem;
    cursor: pointer;
    transition: .2s;
}

.l-fav__heart p {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    transition: .2s;
}

.l-fav__heart:hover {
    background-color: var(--favorites);
}

.l-fav__heart:hover p {
    color: var(--default);
}

.l-fav__heart:hover .fa-solid {
    color: #ffffff;
}

.fa-heart {
    color: #FC4242;
}

.l-dropdown__type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-dropdown__type p {
    font-size: 0.75rem;
    line-height: 16px;
    font-weight: 700;
    border: 1px solid var(--border-solid);
    padding: 0.375rem;
    border-radius: 0.3125rem 0rem 0rem 0.3125rem;
}

.l-dropdown__region {
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-dropdown__region p {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    border: 0.0625rem solid var(--border-solid);
    padding: 0.375rem;
    border-radius: 0.3125rem 0rem 0rem 0.3125rem;
}


/*CARDS*/
.c-cards__board {
    gap: 1.25rem;
}

.c-card__pokemon {
    width: 11.875rem !important;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: 0rem 0rem 0.625rem var(--box-shadow);
    border-radius: 0.625rem;
    cursor: pointer;
}

.c-card__pokemon:hover {
    border: 1px solid var(--type-color);
    transition: 0.6s;
}

.l-card__favorite {
    position: relative;
    cursor: pointer;
}

.l-card__favorite i {
    position: absolute;
    top: 0;
    left: 65px;
}


.c-card__image {
    width: 10rem;
}

.c-card__image img {
    width: 100%;

}

.c-card__info {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.c-card__info p:first-child {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: var(--type-color);
}

.c-card__info p {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.c-card__type {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

.type {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px var(--box-shadow);
}

.type img {
    width: 1.5rem;
    border-radius: 1rem;
}

.type p {
    font-size: 0.75rem;
    line-height: 1rem !important;
    font-weight: 700;
    margin: 0;
    margin: 0.25rem 0.5rem 0.25rem 0.25rem;
    color: var(--type-color);
}

.type:hover {
    background-color: var(--type-color-hover);
    transition: 0.5s;
}

.type:hover p {
    color: var(--default);
    transition: 0.5s;
}

.l-pagination__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px var(--box-shadow);
    border: 1px solid var(--border-solid);
    border-radius: 2rem;
    width: 6.25rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.3125rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.l-pagination__btn:hover {
    background-color: var(--header);
    color: var(--default);
    transition: 0.5s;
}

/*MODAL*/

.c-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.c-modal__box {
    position: relative;
    background-color: var(--default);
    margin: 5% auto;
    padding: 1.25rem;
    border: 1px solid var(--border-solid);
    width: 63%;
    border-radius: 0.625rem;
}

.l-modal__close {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--normal-type);
    border-radius: 1rem;
}

.l-modal__close i {
    padding: 0.5rem;
    vertical-align: 0;
}

.l-modal__content {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}


.l-modal__img figure {
    width: 100%;
    margin: 0;
    align-content: center;
    box-shadow: 0rem 0rem 0.625rem var(--box-shadow);
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-modal__img img {
    width: 100%;
    height: 22.5rem;
}

.l-modal__info {
    display: flex;
    flex-direction: column;
}

.l-modal__tag {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.l-modal__tag p:first-child {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 700;
    color: var(--type-color);
}

.l-modal__tag p {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 700;
    color: var(--type-color);
}

.l-modal__types {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.l-modal__types p {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin: 0;
}

.l-modal__type--container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.l-modal__type {
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px var(--box-shadow);
}

.l-modal__type img {
    width: 2.5rem;
    border-radius: 2rem;
}

.l-modal__type p {
    font-size: 1.125rem;
    line-height: 1.5rem !important;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin: 0.5rem 1.625rem 0.5rem 0.9375rem;
    color: var(--type-color);
}

.l-modal__type:hover {
    background-color: var(--type-color-hover);
    transition: 0.5s;
}

.l-modal__type:hover p {
    color: var(--default);
    transition: 0.5s;
}

.l-modal__caracteristics {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.l-modal__caracteristics--item p:first-child {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin-bottom: 8px;
}


.l-modal__caracteristics--item p:last-child {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    border: 1px solid #9FA19F;
    border-radius: 1.5rem;
    padding: 8px 24px 8px 24px;
    margin: 0;
}

.l-modal__abilities {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.l-modal__abilities p {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin: 0;
}

.l-modal__ability {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.l-modal__ability p {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    border: 1px solid #9FA19F;
    border-radius: 24px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 0;
    font-weight: 400;
}

.backTop a {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    background-color: var(--header);
    color: var(--default);
    border: 1px solid var(--border-solid);
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.backTop a {
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5rem);
    }
}

.backTop a:hover {
    animation: none;
    transform: translateY(-0.5rem);
}

@media (max-width: 1243px) {
    .c-modal__box {
        width: 80%;
    }
}

@media (max-width: 978px) {
    .c-modal__box {
        width: 90%;
    }
}

@media (max-width: 870px) {
    .c-modal__box {
        width: 97%;
    }
}

@media (max-width: 800px) {

    .c-modal__box {
        width: 52%;
    }

    .l-modal__content {
        flex-direction: column;
        align-items: flex-start;
    }

}

@media (max-width: 700px) {

    .c-modal__box {
        width: 62%;
    }

}

@media (max-width: 545px) {

    .c-modal__box {
        width: 70%;
    }

}

@media (max-width: 460px) {

    .c-card__pokemon {
        width: 10.3125rem !important;
    }

    .l-card__favorite i {
        position: absolute;
        top: -0.3125rem;
        left: 3.4375rem;
    }

    .c-card__image {
        width: 8.4375rem;
    }

    .c-card__info p:first-child {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }

    .c-card__info p {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }

    .c-modal__box {
        width: 80%;
    }

}

@media (max-width: 375px) {

    .c-modal__box {
        width: 95%;
    }

}